<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="TARGET_APPLICATION" value=""/>    <!-- Set a target application with the pdf as a argument -->
    <add key="CREATE_DOCUMENT_FILES" value="false"/>    <!-- create temporary postscript document in %temp% folder, true or false -->
    <add key="SOURCE_DOCUMENT_ENCODING" value=""/>    <!-- Encoding of the source document, default is UTF-8 optional can be set to eg. Windows-1252 -->
    <add key="PDF_SETTINGS" value="/printer"/>    <!-- Ghostscript quality preset. /printer (default, 300dpi, fast) | /prepress (max quality/size, slow) | /ebook (150dpi) | /screen (72dpi, smallest) -->
  </appSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1215">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="${ProgramData}\miPDFConvert\miPDFConvert.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="-------------------------------------------------------------------------------------------&#13;&#10;[Begin.miPDFConvert]&#13;&#10;" />
        <param name="Footer" value="[End.miPDFConvert]&#13;&#10;" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
</configuration>