<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="${ProgramData}\miPDFconvert\miPDFconvertBase.log" />
      <param name="AppendToFile" value="true" />
      <!-- MinimalLock: mehrere gleichzeitige Instanzen teilen sich die Logdatei.
           Mit dem exklusiven Standard-Lock loggt die zweite Instanz gar nichts. -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="-------------------------------------------------------------------------------------------&#xD;&#xA;[Begin.miPDFconvertBase]&#xD;&#xA;" />
        <param name="Footer" value="[End.miPDFconvertBase]&#xD;&#xA;" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
</configuration>